.document-viewer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.document-viewer .react-pdf__Page {
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #e5e7eb;
}

.document-viewer .react-pdf__Page .react-pdf__Page__canvas {
	width: 100% !important;
	height: 100% !important;
}

.chakra-hover-card__arrowTip {
	background: #3b82f6 !important;
}
